body, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
    transition: background-color 0.3s;
}
#navbar ul {
    list-style: none;
    text-align: center;
}
#navbar ul li {
    display: inline;
    margin: 0 15px;
}
#navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
}
#navbar ul li a:hover {
    color: #ff6347;
    background-color: #222;
    padding: 5px 10px;
    border-radius: 5px;
}
section {
    padding: 100px 20px;
    margin-top: 1200px;
}
#home { background-color: #f4f4f4; }
#about { background-color: #ddd; }
#services { background-color: #bbb; }
#contact { background-color: #999; }
.nav-home { background-color: #5feda1; }
.nav-about { background-color: #ef6969; }
.nav-services { background-color: #af71f6; }
.nav-contact { background-color: #665ef9; }
